.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: black;
    width: 100%;
}

.item img{
    width: 350px;
    height: 300px;
    border-radius: 50px;
    display: block;
}

.item:not(:last-child) {
    margin-right: 20px;
}